<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<body>
    

<div class="container">
    <h1>Email ja cadastrado antes, coloque um novo email!</h1>
    <a href="/admin/users/create" class="btn btn-primary">Cadastrar Novamente</a>
    </div>
</body>

  <%- include('../../partials/footer') %>